.control-button {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin: 4px;
  border: 1px solid #aaa;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 5px 0 #aaa;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}

.control-button:hover:not(:active) {
  box-shadow: 0 3px 0 #aaa;
  transform: translateY(2px);
}

.control-button:active {
  box-shadow: none;
  transform: translateY(5px);
}

.text-small {
  font-size: 18px;
}

.first {
  order: 1;
}

.second {
  order: 2;
}

.third {
  order: 3;
}

.orange-button {
  background-color: orangered;
  color: #fff;
}
