.control-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin: 4px;
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 8px;
  font-size: 24px;
  font-weight: 500;
}

.text-small {
  font-size: 18px;
}

.first {
  order: 1;
}

.second {
  order: 2;
}

.third {
  order: 3;
}

.orange-button {
  background-color: orangered;
  color: #fff;
}
